.about-me {
  padding: 110px 70px 50px;
  display: flex;
  flex-direction: column;
}

.about-me__title {
  margin: 0;
  padding-bottom: 23px;
  border-bottom: 1px solid rgba(218, 218, 218, 1);
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  color: #fff;
}

.about-me__container {
  margin: 66px 0 0;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  gap: 49px;
}

.about-me__photo {
  width: 270px;
  height: 327px;
  border-radius: 10px;
  object-fit: cover;
  object-position: left;
}

.about-me__info {
  display: flex;
  flex-direction: column;
}

.about-me__name {
  margin: 0 0 18px;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  color: #fff;
}

.about-me__about {
  margin: 0 0 26px;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  color: #fff;
}

.about-me__description {
  max-width: 600px;
  margin: 0 0 99px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #fff;
}

.about-me__github-link {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  text-decoration: none;
}

@media (max-width: 768px) {
  .about-me {
    padding: 90px 50px 45px;
  }
  .about-me__photo {
    width: 255px;
    height: 307px;
  }
  .about-me__name {
    margin-bottom: 16px;
    font-size: 40px;
    line-height: 40px;
  }
  .about-me__about {
    margin-bottom: 20px;
    font-size: 12px;
    line-height: 18px;
  }
  .about-me__description {
    margin-bottom: 87px;
    font-size: 12px;
    line-height: 18px;
  }
}

@media (max-width: 625px) {
  .about-me__container {
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  .about-me {
    padding: 70px 14px 35px;
  }
}

@media (max-width: 320px) {
  .about-me__title {
    padding-bottom: 28px;
    font-size: 18px;
    line-height: 22px;
  }
  .about-me__container {
    margin-top: 60px;
    gap: 40px;
  }
  .about-me__photo {
    width: 292px;
    height: 352px;
  }
  .about-me__name {
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 36px;
  }
  .about-me__about {
    font-size: 11px;
    line-height: 16px;
  }
  .about-me__description {
    margin-bottom: 40px;
    font-size: 11px;
    line-height: 16px;
  }
}